/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.info-icon {
  position: relative;
  float: right;
}

.edit-check, .edit-email {
  display: inline-block;
}

.stack-three img {
  width: 320px;
  max-height: 500px;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 16px;
  margin-right: 16px;
}