<div class="jumbotron jumbotron1">
    <div class="container">
      <h1 class="display-4" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">AngularJs Exercises!</h1>
      <p class="lead" style="font-family: Georgia, 'Times New Roman', Times, serif; font-style: italic;">Following are the solved Angular Exercises.</p>
    </div>
</div>

<div class="container my-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Exercise - Evil Siri</h4>
        <p class="card-text">Enter your Name to make Siri greet you!</p>
        <form>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Name</span>
            </div>
            <input type="text" class="form-control" placeholder="Enter your name" ng-model="uName">
          </div>
        </form>
        <div class="media">
          <img src="images/siri_icon.png" class="align-self-start mr-3" style="width:60px">
          <div class="media-body">
            <h4>Siri</h4>
            <span ng-if="!uName">Hello! Siri, at your service.</span><span ng-if="uName">Welcome <strong>{{uName}}</strong>. How may I serve you today?</span>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="container my-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Exercise - Handy instant maths calculators</h4>
        <p class="card-text">Enter two numbers to perform basic arithmetic operations!</p>
        <form>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Number 1</span>
            </div>
            <input type="number" class="form-control" placeholder="Enter an evil number" ng-model="evilNum1">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Number 2</span>
            </div>
            <input type="number" ng-disabled="!evilNum1" class="form-control" placeholder="And another" ng-model="evilNum2">
          </div>
        </form>
        <ul>
            <li>{{evilNum1}} <span ng-if="evilNum1">+</span> {{evilNum2}} <span ng-if="evilNum2">=</span> <span ng-if="evilNum2 && evilNum2">{{evilNum1 + evilNum2}}</span></li>
            <li>{{evilNum1}} <span ng-if="evilNum1">-</span> {{evilNum2}} <span ng-if="evilNum2">=</span> <span ng-if="evilNum2 && evilNum2">{{evilNum1 - evilNum2}}</span></li>
            <li>{{evilNum1}} <span ng-if="evilNum1">*</span> {{evilNum2}} <span ng-if="evilNum2">=</span> <span ng-if="evilNum2 && evilNum2">{{evilNum1 * evilNum2}}</span></li>
            <li>{{evilNum1}} <span ng-if="evilNum1">/</span> {{evilNum2}} <span ng-if="evilNum2">=</span> <span ng-if="evilNum2 && evilNum2">{{evilNum1 / evilNum2}}</span></li>
        </ul>
      </div>
    </div>
</div>

<div class="container my-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Exercise - Time remaining</h4>
        <p class="card-text">Enter your age to calculate the time elapsed and remaining, of your lifespan!</p>
        <form>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Age</span>
            </div>
            <input type="number" class="form-control" placeholder="Enter your age in years" ng-model="uAge" max="72.6">
          </div>
        </form>
        <ul class="list-group">
            <li class="list-group-item list-group-item-success">Weeks elapsed so far: <span ng-if="uAge"><b>{{52 * uAge}}</b></span></li>
            <li class="list-group-item list-group-item-danger">Weeks remaining to live: <span ng-if="uAge"><b>{{(72.6 - uAge) * 52 | number:2}}</b></span>
                <a href="https://ourworldindata.org/life-expectancy" role="button" class="btn info-icon px-1 py-0"
                  data-toggle="tooltip" data-placement="left" target="_blank"
                  title="Average Human Lifespan is considered to be 76.2 years. Click to go to Source!">
                    <i class="fas fa-info-circle"></i>
                </a>
            </li>
            <li class="list-group-item list-group-item">Percentage completion: <span ng-if="uAge"><b>{{uAge / 72.6 * 100 | number:2}}%</b></span></li>
        </ul>
      </div>
    </div>
</div>

<div class="container my-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Exercise - Profile Widget</h4>
        <p class="card-text">Enter the URL for your display picture! <em>(Example: https://www.nowrunning.com/content/Artist/Robert-Downey/banner.jpg)</em></p>
        <form>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">URL</span>
            </div>
            <input type="text" class="form-control" placeholder="Enter the URL of picture"
             ng-init="dpUrl='https://www.nowrunning.com/content/Artist/Robert-Downey/banner.jpg'" ng-model="dpUrl">
          </div>
        </form>
        <div class="container mt-4" style="display: flex; justify-content: center;">
          <img src="{{dpUrl}}" class="align-self-start mr-3">
        </div>
      </div>
    </div>
</div>

<div class="container my-3">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Exercise - Profile form</h4>
      <p class="card-text">Enter your Name and Description to update your profile!!</p>
      <form>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Profile Name</span>
          </div>
          <input type="text" class="form-control" placeholder="Enter your name" ng-model="pName">
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Profile Description</span>
          </div>
          <textarea class="form-control" placeholder="Enter your Profile Description" ng-model="pDesc"></textarea>
        </div>
      </form>
      <div class="media mt-4">
        <img src="{{dpUrl}}" class="align-self-start mr-3" style="width:60px">
        <div class="media-body">
          <h4 ng-if="!pName">Your Profile Name goes here.</h4>
          <h4 ng-if="pName">{{pName}}</h4>
          <span ng-if="!pDesc">Your Profile Description goes here.</span>
          <span ng-if="pDesc">{{pDesc}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container my-3">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Exercise - Make the form optional</h4>
      <p class="card-text">Enter your Name and Description to update your profile! Check Show Email to show your Email under the profile!</p>
      <form>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Profile Name</span>
          </div>
          <input type="text" class="form-control" placeholder="Enter your name" ng-model="pName">
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Profile Description</span>
          </div>
          <textarea class="form-control" placeholder="Enter your Profile Description" ng-model="pDesc"></textarea>
        </div>
        <div class="container row mt-3">
          <div class="form-check col-md-2 col-lg-2">
            <input class="form-check-input" type="checkbox" ng-model="showEmail" id="checkBox1">
            <label class="form-check-label" for="checkBox1">Show Email</label>
          </div>
          <div class="input-group input-group-sm col-md-10 col-lg-10" ng-show="showEmail">
            <div class="input-group-prepend">
              <span class="input-group-text">Email</span>
            </div>
            <input type="text" class="form-control" placeholder="Enter your Email" ng-model="pEmail">
          </div>
        </div>
      </form>
      <div class="media mt-4">
        <img src="{{dpUrl}}" class="align-self-start mr-3" style="width:60px">
        <div class="media-body">
          <h4 ng-if="!pName">Your Profile Name goes here.</h4>
          <h4 ng-if="pName">{{pName}}</h4>
          <span ng-if="!pDesc">Your Profile Description goes here. <br></span>
          <span ng-if="pDesc">{{pDesc}}</span>
          <span ng-if="!pEmail && showEmail">Your Email goes here.<br></span>
          <span ng-if="pEmail && showEmail">{{pEmail}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container my-3" ng-controller="profileController">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Exercise - Control yourself</h4>
      <p class="card-text">The details are initialised in default by a controller. Enter different values to change the scope object values!</p>
      <form>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Profile Name</span>
          </div>
          <input type="text" class="form-control" placeholder="Enter your name" ng-model="profileName">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Profile Description</span>
          </div>
          <textarea class="form-control" placeholder="Enter your Profile Description" ng-model="profileDesc"></textarea>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Profile DP URL</span>
          </div>
          <input type="text" class="form-control" placeholder="Enter the URL of picture" ng-model="profileUrl">
        </div>
      </form>
      <div class="media mt-4">
        <img src="{{profileUrl}}" class="align-self-start mr-3" style="width:60px">
        <div class="media-body">
          <h4 ng-if="!profileName">Your Profile Name goes here.</h4>
          <h4 ng-if="profileName">{{profileName}}</h4>
          <span ng-if="!profileDesc">Your Profile Description goes here.</span>
          <span ng-if="profileDesc">{{profileDesc}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container my-3" ng-controller="calculatorController">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Exercise - Helper function</h4>
      <p class="card-text">Enter two numbers to perform basic arithmetic operations! Use the "Reset Values" button to reset the numbers to 0!</p>
      <form>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Number 1</span>
          </div>
          <input type="number" class="form-control" placeholder="Enter an evil number" ng-model="calcNum1">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Number 2</span>
          </div>
          <input type="number" class="form-control" placeholder="And another" ng-model="calcNum2">
        </div>
        <button type="button" class="btn btn-primary mb-3" ng-click="resetToZero()">Reset Values</button>
      </form>
      <ul>
          <li>{{calcNum1}} + {{calcNum2}} = {{calcNum1 + calcNum2}}</li>
          <li>{{calcNum1}} - {{calcNum2}} = {{calcNum1 - calcNum2}}</li>
          <li>{{calcNum1}} * {{calcNum2}} = {{calcNum1 * calcNum2}}</li>
          <li>{{calcNum1}} / {{calcNum2}} = {{calcNum1 / calcNum2}}</li>
      </ul>
    </div>
  </div>
</div>

<div class="container my-3">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Exercise - Multiple profile widgets</h4>
      <br>
      <br>
      <div ng-controller="profileController1">
        <p class="card-text">The below details are initialised in default by a controller - profileController1. Enter different values to change the scope object values!</p>
        <form>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Profile Name</span>
            </div>
            <input type="text" class="form-control" placeholder="Enter your name" ng-model="profileName">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Profile Description</span>
            </div>
            <textarea class="form-control" placeholder="Enter your Profile Description" ng-model="profileDesc"></textarea>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Profile DP URL</span>
            </div>
            <input type="text" class="form-control" placeholder="Enter the URL of picture" ng-model="profileUrl">
          </div>
        </form>
        <div class="media mt-4">
          <img src="{{profileUrl}}" class="align-self-start mr-3" style="width:60px">
          <div class="media-body">
            <h4 ng-if="!profileName">Your Profile Name goes here.</h4>
            <h4 ng-if="profileName">{{profileName}}</h4>
            <span ng-if="!profileDesc">Your Profile Description goes here.</span>
            <span ng-if="profileDesc">{{profileDesc}}</span>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div ng-controller="profileController2">
        <p class="card-text">The below details are initialised in default by a controller - profileController2. Enter different values to change the scope object values!</p>
        <form>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Profile Name</span>
            </div>
            <input type="text" class="form-control" placeholder="Enter your name" ng-model="profileName">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Profile Description</span>
            </div>
            <textarea class="form-control" placeholder="Enter your Profile Description" ng-model="profileDesc"></textarea>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Profile DP URL</span>
            </div>
            <input type="text" class="form-control" placeholder="Enter the URL of picture" ng-model="profileUrl">
          </div>
        </form>
        <div class="media mt-4">
          <img src="{{profileUrl}}" class="align-self-start mr-3" style="width:60px">
          <div class="media-body">
            <h4 ng-if="!profileName">Your Profile Name goes here.</h4>
            <h4 ng-if="profileName">{{profileName}}</h4>
            <span ng-if="!profileDesc">Your Profile Description goes here.</span>
            <span ng-if="profileDesc">{{profileDesc}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container my-3" ng-controller="profileController3">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Exercise - Nested controllers and controller isolation</h4>
      <p class="card-text">The details are initialised in default by two controllers - profileController3 and profileController4. Enter different values to change the scope object values!</p>
      <form>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Profile Name</span>
          </div>
          <input type="text" class="form-control" placeholder="Enter your name" ng-model="profile.name">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Profile Description</span>
          </div>
          <textarea class="form-control" placeholder="Enter your Profile Description" ng-model="profile.desc"></textarea>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Profile DP URL</span>
          </div>
          <input type="text" class="form-control" placeholder="Enter the URL of picture" ng-model="profile.url">
        </div>
      </form>
      <div class="media mt-4" ng-controller="profileController4">
        <img src="{{profile.url}}" class="align-self-start mr-3" style="width:60px">
        <div class="media-body">
          <h4 ng-if="!profile.name">Your Profile Name goes here.</h4>
          <h4 ng-if="profile.name">{{profile.name}}</h4>
          <span ng-if="!profile.desc">Your Profile Description goes here.</span>
          <span ng-if="profile.desc">{{profile.desc}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container my-3" ng-controller="profileController5">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Harder Exercise - Storing data on the controller</h4>
      <p class="card-text">The details are initialised in default by a controller as a data store using "this". Enter different values to change the scope object values!</p>
      <form>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Profile Name</span>
          </div>
          <input type="text" class="form-control" placeholder="Enter your name" ng-model="vm.profile.name">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Profile Description</span>
          </div>
          <textarea class="form-control" placeholder="Enter your Profile Description" ng-model="vm.profile.desc"></textarea>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Profile DP URL</span>
          </div>
          <input type="text" class="form-control" placeholder="Enter the URL of picture" ng-model="vm.profile.url">
        </div>
      </form>
      <div class="media mt-4">
        <img src="{{vm.profile.url}}" class="align-self-start mr-3" style="width:60px">
        <div class="media-body">
          <h4 ng-if="!vm.profile.name">Your Profile Name goes here.</h4>
          <h4 ng-if="vm.profile.name">{{vm.profile.name}}</h4>
          <span ng-if="!vm.profile.desc">Your Profile Description goes here.</span>
          <span ng-if="vm.profile.desc">{{vm.profile.desc}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container my-3" ng-controller="profileController6">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Exercise - Watching and Applying</h4>
      <p class="card-text">The details are initialised in default by a controller - profileController6, which has a $watch function. Clear the name to see the message for an invalid value!</p>
      <form>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text">Profile Name</span>
          </div>
          <input type="text" class="form-control" placeholder="Enter your name" ng-model="profile.name">
        </div>
        <div class="mb-3" ng-show="error" style="color: rgb(221, 18, 18);">{{error.name}}</div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Profile Description</span>
          </div>
          <textarea class="form-control" placeholder="Enter your Profile Description" ng-model="profile.desc"></textarea>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Profile DP URL</span>
          </div>
          <input type="text" class="form-control" placeholder="Enter the URL of picture" ng-model="profile.url">
        </div>
      </form>
      <div class="media mt-4">
        <img src="{{profile.url}}" class="align-self-start mr-3" style="width:60px">
        <div class="media-body">
          <h4 ng-if="!profile.name">Your Profile Name goes here.</h4>
          <h4 ng-if="profile.name">{{profile.name}}</h4>
          <span ng-if="!profile.desc">Your Profile Description goes here.</span>
          <span ng-if="profile.desc">{{profile.desc}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container my-3" ng-controller="DIController1">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Exercise - NgDialog</h4>
      <p class="card-text">The following button triggers a Dialog view of ngDialog package.</p>
      <button type="button" class="btn btn-primary btn-block" ng-click="clickToOpen()">Trigger Dialog view!</button>
    </div>
  </div>
</div>

<div class="container my-3" ng-controller="henchmenController1">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Exercise - List your Assets</h4>
      <p class="card-text">The table/list is initialised in default using ngRepeat and relies on a controller - henchMenController1, which has a scope object with values like in below, in the JSON format.</p>
      <table class="table table-sm table-hover table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col" class="text-center">ID</th>
            <th scope="col" class="text-center">Name</th>
            <th scope="col" class="text-center">Age</th>
            <th scope="col" class="text-center">Combat(%)</th>
            <th scope="col" class="text-center">Mind(%)</th>
            <th scope="col" class="text-center">Speed(%)</th>
            <th scope="col" class="text-center">Strength</th>
            <th scope="col" class="text-center">Weakness</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="i in henchMen track by $index">
            <td scope="row">{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.age}}</td>
            <td>{{i.combat}}</td>
            <td>{{i.mind}}</td>
            <td>{{i.speed}}</td>
            <td>{{i.strength}}</td>
            <td>{{i.weakness}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container my-3" ng-controller="henchmenController1">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Exercise - Search the henchmen</h4>
      <p class="card-text">The table/list is initialised in default using ngRepeat and relies on a controller - henchMenController1, which has a scope object with values like in below, in the JSON format. Type your search term to filter the list.</p>
      
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Search</span>
        </div>
        <input type="text" class="form-control" placeholder="Type to search the below list" ng-model="henchSearch1">
      </div>

      <table class="table table-sm table-hover table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col" class="text-center">ID</th>
            <th scope="col" class="text-center">Name</th>
            <th scope="col" class="text-center">Age</th>
            <th scope="col" class="text-center">Combat(%)</th>
            <th scope="col" class="text-center">Mind(%)</th>
            <th scope="col" class="text-center">Speed(%)</th>
            <th scope="col" class="text-center">Strength</th>
            <th scope="col" class="text-center">Weakness</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="i in henchMen | filter:henchSearch1 track by $index">
            <td scope="row">{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.age}}</td>
            <td>{{i.combat}}</td>
            <td>{{i.mind}}</td>
            <td>{{i.speed}}</td>
            <td>{{i.strength}}</td>
            <td>{{i.weakness}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container my-3" ng-controller="henchmenController1">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Exercise - Sort the henchmen</h4>
      <p class="card-text">The table/list is initialised in default using ngRepeat and relies on a controller - henchMenController1, which has a scope object with values like in below, in the JSON format. Type your search term to filter the list. Press the buttons to sort by the respective columns.</p>
      
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Search</span>
        </div>
        <input type="text" class="form-control" placeholder="Type to search the below list" ng-model="henchSearch2">
      </div>

      <div class="input-group input-group-sm mb-3" ng-init="henchSort='id'">
        <div class="input-group-prepend">
          <span class="input-group-text">Sort By</span>
        </div>
        <div class="btn-group btn-group-sm ml-1" role="group">
          <button type="button" class="btn btn-secondary" ng-click="henchSort='id'">ID</button>
          <button type="button" class="btn btn-secondary" ng-click="henchSort='name'">Name</button>
          <button type="button" class="btn btn-secondary" ng-click="henchSort='age'">Age</button>
          <button type="button" class="btn btn-secondary" ng-click="henchSort='combat'">Combat</button>
          <button type="button" class="btn btn-secondary" ng-click="henchSort='mind'">Mind</button>
          <button type="button" class="btn btn-secondary" ng-click="henchSort='speed'">Speed</button>
          <button type="button" class="btn btn-secondary" ng-click="henchSort='strength'">Strength</button>
          <button type="button" class="btn btn-secondary" ng-click="henchSort='weakness'">Weakness</button>
        </div>
      </div>

      <table class="table table-sm table-hover table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col" class="text-center">ID</th>
            <th scope="col" class="text-center">Name</th>
            <th scope="col" class="text-center">Age</th>
            <th scope="col" class="text-center">Combat(%)</th>
            <th scope="col" class="text-center">Mind(%)</th>
            <th scope="col" class="text-center">Speed(%)</th>
            <th scope="col" class="text-center">Strength</th>
            <th scope="col" class="text-center">Weakness</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="i in henchMen | filter:henchSearch2 | orderBy:henchSort:true track by $index">
            <td scope="row">{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.age}}</td>
            <td>{{i.combat}}</td>
            <td>{{i.mind}}</td>
            <td>{{i.speed}}</td>
            <td>{{i.strength}}</td>
            <td>{{i.weakness}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container my-3" ng-controller="henchmenController2">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Exercise - update the Henchmen to pull from a JSON feed</h4>
      <p class="card-text">The table/list is initialised in default using ngRepeat and relies on a controller - henchMenController2, which pulls data from a local JSON by an HTTP request. Type your search term to filter the list.</p>
      <div ng-if="henchMen">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Search</span>
          </div>
          <input type="text" class="form-control" placeholder="Type to search the below list" ng-model="henchSearch1">
        </div>

        <table class="table table-sm table-hover table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col" class="text-center">ID</th>
              <th scope="col" class="text-center">Name</th>
              <th scope="col" class="text-center">Age</th>
              <th scope="col" class="text-center">Combat(%)</th>
              <th scope="col" class="text-center">Mind(%)</th>
              <th scope="col" class="text-center">Speed(%)</th>
              <th scope="col" class="text-center">Strength</th>
              <th scope="col" class="text-center">Weakness</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="i in henchMen | filter:henchSearch1 track by $index">
              <td scope="row">{{i.id}}</td>
              <td>{{i.name}}</td>
              <td>{{i.age}}</td>
              <td>{{i.combat}}</td>
              <td>{{i.mind}}</td>
              <td>{{i.speed}}</td>
              <td>{{i.strength}}</td>
              <td>{{i.weakness}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="container my-3" ng-controller="flickrController1">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Exercise - Flickr Exercise</h4>
      <p class="card-text">The following images are displayed using ngRepeat and relies on a controller - flickrController1, which pulls data from a remote JSONP endpoint by an HTTP request. Type your search term to filter based on their tags.</p>
      <div ng-if="flickrImages">
        <h5 class="my-3"><u>{{flickrImages.title}}:</u></h5>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Search</span>
          </div>
          <input type="text" class="form-control" placeholder="Type tag to filter images" ng-model="flickrSearch1">
        </div>
        <div class="stack-three">
          <img ng-repeat="item in flickrImages.items | filter:flickrSearch1 track by $index" ng-src="{{item.media.m}}">
          <img src="https://cdn.pixabay.com/photo/2018/03/25/09/57/cute-3258931_960_720.jpg">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container my-3" ng-controller="filterController1">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Exercise - Reverse Filter</h4>
      <p class="card-text">The following input relies on a filter function - reverseString and this block is bound to filterController1. Type a word to reverse it!</p>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Input</span>
        </div>
        <input type="text" class="form-control" placeholder="Type a word" ng-model="reverseInput" ng-change="logOutput()">
      </div>
      <div ng-if="reverseInput">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Output</span>
          </div>
          <input type="text" class="form-control" ng-value="reverseInput | reverseString" ng-model="reverseOutput" disabled>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container my-3" ng-controller="filterController2">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Exercise - Filtering the first element from an array</h4>
      <p class="card-text">The following input relies on a filter function - firstElement and this block is bound to filterController2. Enter space-separated words to filter the first element!</p>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Input</span>
        </div>
        <input type="text" class="form-control" placeholder="Type some words" ng-model="arrayInput" ng-change="processInput()">
      </div>
      <div ng-if="arrayInput">
        <p>The split array is: {{arrayOutput}}
        </p>
        <p>
          The first element in the array is: {{arrayInput | firstElement}}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container my-3" ng-controller="filterController3">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Exercise - Pagination</h4>
      <p class="card-text">The following input relies on a filter function - nPagination and this block is bound to filterController3. Enter the value of N, to get first N elements from the following array!</p>
      <p class="mt-2">The existing array is: {{arrayNum}}</p>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">N</span>
        </div>
        <input type="text" class="form-control" placeholder="Enter the value of N" ng-model="sizeInput" ng-change="logOutput()">
      </div>
      <div ng-if="sizeInput">
        <p>
          The first N paginated array is: {{arrayNum | nPagination:sizeInput}}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container my-3" ng-controller="filterController4">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Exercise - Tweets</h4>
      <p class="card-text">The following input relies on a filter function - filterMentionsAndHashtags and this block is bound to filterController4. Enter a raw tweet to convert into an active one with link to mentions and hastags!</p>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Tweet </span>
        </div>
        <input type="text" class="form-control" placeholder="Type the raw tweet" ng-model="rawTweet" ng-change="logOutput()">
      </div>
      <div ng-if="rawTweet">
        <span>The Active tweet: </span>
        <span ng-bind-html="rawTweet | filterMentionsAndHashtags"></span>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>